<p>
  <strong>First Name:</strong>
  <%= @person.firstname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @person.lastname %>
</p>

<p>
  <strong>User Name:</strong>
  <%= @person.username %>
</p>

<p>
  <strong>Department:</strong>
  <%= @person.department %>
</p>